.batchContents {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.batchImage {
  width: 70%;
  height: 55vh;
  object-fit: cover; /* Ensures the image covers the area */
  transition: transform 0.3s ease; /* Add transition for hover effect */
  border: 2px solid #000;
  border-top: 15px solid #000;
  border-bottom: 15px solid #000;
}

.batchItem:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Add shadow on hover for depth */
}

.batchHeader {
  font-family: "Benzin-Medium", sans-serif;
  font-size: 2.5rem; /* Change font size to rem for consistency */
  text-transform: uppercase;
  text-align: center;
  margin-top: 2.5rem; /* Adjust margin for spacing */
  color: #333; /* Darken title color for better readability */
}

.batchCaption {
  font-size: 1.3rem; /* Change font size to rem for consistency */
  color: #777; /* Adjust caption color for better contrast */
  margin-top: 0rem; /* Adjust margin for spacing */
}

.batchItem:hover .batchHeader,
.batchItem:hover .batchCaption {
  text-decoration: underline; /* Add underline on hover */
}

.registeredAlumni h2 {
  margin-left: 5%;
  margin-top: 5%;
}

.connectTwo {
  width: 90%;
  margin-left: 5%;
}

.imgooo {
  display: flex;
  height: 25vh;
  width: 90%;
  border-radius: 5%;
  border-end-end-radius: 0%;
  border-end-start-radius: 0%;
  border: 1px solid #000;
  background-color: lightblue;
  border-bottom: 10px solid #000;
}

.titleooo,
.descriptionooo {
  width: 90%;
  color: #000000;
  text-align: left;
}

.titleooo {
  font-size: 1.4vw;
}

.descriptionooo {
  font-family: "EB Garamond";
  font-size: 1vw;
  font-style: italic;
  margin-top: -2%;
}
